@*@page "/"*@

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="display-3 text-center" style="font-family: 'Russo One', sans-serif;">Play the Destination Game!</h3>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="display-4 text-center"  style="font-family: 'Russo One', sans-serif;">Click the link on the left to play!</h4>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img class="img-fluid d-block mx-auto img-thumbnail" src="image/Disney.jpg" />
            </div>
        </div>
    </div>
</div>