@page "/seanmoran"
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 p-md-5 p-3 d-flex flex-column justify-content-center">
                <h1>About Sean Moran MS MCP</h1>
                <p class="mb-0">I am a well-rounded and multi-certified ASP.NET (Core) MVC, Azure, SharePoint, and SQL Server professional, with successful projects using a wide variety of technologies, but favoring the Microsoft development stack. I enjoy staying on the cutting edge of development (.NET Core, Blazor, Angular etc.) and using the Azure IaaS and PaaS platforms to create efficiencies that enable organizations to get more done, at less cost, and with less maintenance. I believe in building nimble distributed applications using the proper tools, over building monolithic and difficult to maintain centralized applications.<br><br>I am available for remote consulting project just about anywhere. <a href="#">My resume can be seen here.</a></p>
            </div>
            <div class="col-lg-4 p-3">
                <img class="img-fluid d-block rounded-circle" src="https://static.pingendo.com/img-placeholder-3.svg">
            </div>
        </div>
    </div>
</div>